// Define variables for your color scheme

// For example:
$purple: rgb(141, 91, 165);
$blue: #8AB7DD;
$green: rgb(162, 205, 176);
$yellow: #FFCC69;
$pink: rgb(255, 209, 204);
$beige: #FFF7EC;
$white: white;
$black: black
