// Define variables for your color scheme

// For example:
$purple: #8d5ba5;
$blue: #8AB7DD;
$green: #a2cdb0;
$yellow: rgb(255, 204, 105);
$pink: #ffd1cc;
$light-pink : rgba(255, 209, 204, .25);
$beige: #FFF7EC;
$white: white;

$black: black;
$light-green: #F1F1E3;
$olive: #9A9A92
