// Define variables for your color scheme

// For example:
$purple: #8d5ba5;
$blue: #8AB7DD;
$green: #a2cdb0;
$yellow: #FFCC69;
$pink: #ffd1cc;
$beige: #FFF7EC;
$white: white;
$black: black;
$light-green: #F1F1E3;
$olive: #9A9A92
