.simple-calendar {
  margin-bottom: 70px;

  h1 {
    color: #A2CDB0;
    text-align: center;
    font-size: 36px;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    margin: 1.5rem 0 2.5rem;
  }

  .calendar-button {
    margin-top: 40px;
    padding: 2px;
  }

  table {
    min-height: 80vh;
    width: 99%;
    margin: auto;
  }

  .today {
    background-color: rgba(138, 183, 221, 0.4);
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  .calendar-heading {
    justify-content: space-between;
  }

  .create-event-link {
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
  }

  td {
    padding-top: 10px;

    a {
      font-size: 0.9rem;
      display: block;
      margin-top: 5px;
    }
  }

  th {
    color: #484848;
    font-weight: bold;
  }

  .prev-month,
  .next-month {
    color: rgba(170, 170, 170, 0.7);
    background-color: rgba(240, 240, 240, 0.788);
  }
}

.calendar-ellipse-green {
  width: 228.18px;
  height: 235.4px;
  mix-blend-mode: darken;
  position: fixed;
  top: -18px;
  left: 9px;
  transform: rotate(-6deg);
  z-index: -1;
}

.month-title {
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;

}
