.simple-calendar {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

  table {
    min-height: 80vh;
    width: 99%;
    margin: auto;
  }

  .today {
    background-color: rgba(138, 183, 221, 0.4);
  }
}

.calendar-button {
  width: 100%;
  margin-top: 95px;
}

.calendar-index-banner {
  padding-bottom: 3px;
  position: fixed;
  background-color: $beige;
  width: 100%;
  height: 100px;
}

.calendar-title {
  color: $green;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  margin: 0;
  padding-top: 25px;
}

.simple-calendar a {
  text-decoration: none;
  font-weight: bold;
  height: fit-content;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
}

.create-event-link {
  color: rgb(53, 53, 53);
}

.simple-calendar td {
  padding-top: 10px;
}

.simple-calendar td a {
  font-size: 0.9rem;
  display: block;
  margin-top: 5px;
}

.simple-calendar th {
  color: #484848;
  font-weight: bold;
}

.simple-calendar .prev-month, .simple-calendar .next-month {
  color: rgba(170, 170, 170, 0.7);
  background-color: rgba(240, 240, 240, 0.788);
}

.calendar-ellipse-green {
  width: 228.18px;
  height: 235.4px;
  flex-shrink: 0;
  mix-blend-mode: darken;
  position: fixed;
  top: -6px;
  left: 193px;
  transform: rotate(85.518deg);
  z-index: 1000;
}
