.new-task-ellipse-violet{
  position: fixed;
  top: -18px;
  left: 0px;
  transform: rotate(0deg);
  z-index: -1;
  fill: rgba(141, 91, 165, 0.30);
  mix-blend-mode: darken;
  width: 283.391px;
  height: 192px;
}
