.typography {
  color: #FFF;
  text-align: center;
  font-family: "Roboto Condensed"; // Correct the font name
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow-y: hidden;  // Consider commenting this line if there's a scroll issue
  position: relative;

  .home-header {
    margin-top: 17vh;
    display: flex;
    align-items: flex-end;
  }

  .home-content {
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .ellipse-violet,
  .ellipse-blue,
  .ellipse-yellow {
    position: absolute;
    flex-shrink: 0;
  }

  .ellipse-violet {
    top: -23px;
    right: 76px;
    width: 190px;
    height: 220px;
    transform: rotate(-0.482deg);
    fill: rgba(141, 91, 165, 0.6);
  }

  .ellipse-blue {
    top: 260px;
    left: -69px;
    width: 212px;
    height: 201px;
    fill: rgba(138, 183, 221, 0.6);
  }

  .ellipse-yellow {
    bottom: -54px;
    right: 2px;
    width: 259.629px;
    height: 189.19px;
    fill: rgba(255, 204, 105, 0.6);
  }

  .btn-success {
    margin-left: auto;
  }
}

.home-title {
  h1 {
    color: rgba(59, 58, 58, 0.9);
    text-align: center;
    font-size: 66px;
    font-style: italic;
    font-weight: 500;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.04em;
  }
}

.home-title2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  font-family: "Barlow";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.home-logo {
  margin: 10px 0 0 5px;

  img {
    width: 33vw;
    background: url('home-logo-petit.png');
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
  }
}
