// Typography and Common Styles
.typography {
  color: #FFF;
  text-align: center;
  font-family: Roboto condensed;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}

// Home Page Styles
.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 32px;
}

.home-title {
  display: flex;
  justify-content: center;
  width: 189px;
  height: 73px;
  color: rgba(72, 72, 72, 0.88);
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
}

.home-title2 {
  color: #000;
  font-family: Barlow;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

.home-logo img{
  width: 163px;
  height: 176px;
  background: url('home-logo-petit.png');
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
}
