.event-new-wrapper {
  margin-bottom: 70px;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-new-banner {
  padding-bottom: 3px;
  background-color: $beige;
  width: 100%;
  position: fixed;
}

.event-blue-title {
  display: flex;
  justify-content: center;
  color: #8AB7DD;
  font-size: 36px;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.new-event-green-ellipse {
  width: 283.391px;
  height: 192px;
  fill: rgba(162, 205, 176, 0.30);
  mix-blend-mode: darken;
  position: fixed;
  top: -18px;
  left: 0px;
  transform: rotate(0deg);
  z-index: 2;
}

.button-cancel-event {
  margin-right: 2px;
}

.bouton-event-cancel{
  margin-right: 16px;
}
