.scheduled-tasks-wrapper {
  height: 100dvh;
  justify-content: center;
  position: fixed;
  width: -webkit-fill-available;
}

.logo-scheduled-tasks {
  display: flex;
  width: 100%
}

.banner-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px;
  height: 10dvh
}

.logo{
  width: 62;
  height: 68px;
  background-image: none;
}

.hello {
  align-self: end;
  font-style: italic;
}

.current-user-picture {
  align-self: end;
  position: absolute;
  right: 0;
  top: 0
}
.welcome {
  font-family: $headers-font;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  height: 5dvh
}

.roommates {
  align-items: end;
  text-align: right;
  margin: 20px;
  height: 5dvh
}

.scheduled-tasks-title {
  color: $green;
  padding: 15px;
  position: fixed;
  background-color: $blue;
  height: 60px;
  margin: 0 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px
}

.scheduled-tasks-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: $blue;
  border-radius: 20px;
  max-height: 55dvh;
  width: -webkit-fill-available;
  margin: 0 20px;
  overflow: hidden;
}

.scrolled-cards {
  overflow: scroll;
  margin-top: 60px;
  width: 95%;
}

.checkbox-card{
  justify-content: center;
  width: 100%
}

.scheduled-task-container {
  background-color: $beige;
  margin: 10px 0 ;
  padding: 10px 25px 10px 25px;
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  border: 1px solid $olive;
  display: flex
}

.task-name-points {
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: space-between
}
.scheduled-task-name {
  padding-left: 10px;
}

.btn-opacity {
  background-color: $light-pink;
  border-radius: 10px;
}
