
.tasks-wrapper {
  height: 100dvh;
  justify-content: center;
  position: fixed;
  width: -webkit-fill-available;
}

.tasks-index-banner {
  display: flex;
  flex-direction: column;
}
.tasks-title {
  margin-top: 20px;
  font-size: 36px;
  color: $pink;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}
.frequency-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.frequency-title {
  font-size: 25px;
  color: $pink;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  margin-top: 20px
}

.task-details {
  display: flex;
  justify-content: space-between;
  background-color: $light-green;
  margin: 5px;
  padding: 10px 25px 10px 40px;
  height:fit-content;
  width: auto;
  border-radius: 20px;
  border: 1px solid $olive;
}

.stars-edit-delete {
  width: 40%;
  display: flex;
  justify-content: space-between
}

span {
  color: black;
  font-size: 16px
}

.tasks-container {
  max-height: 65%;
  overflow: scroll;
  padding-bottom: 100px;
  text-align: center;
}

.add-icon {
  -webkit-text-stroke: 1px black;
  font-size: 1.5em !important;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20%;
  padding-right: 20px;
  width: 100%;
  text-align: right;
}
