<h1>Tasks</h1>

<h2>Daily</h2>
  <% @tasks.each do |task| %>
    <% if task.frequency_type == 'daily' %>
      <%= task.task_name %>
    <% end %>
  <% end %>

<h2>Weekly</h2>

<h2>Monthly</h2>


<%# <ul> %>
  <%# <% @tasks.each do |task| %>
    <%# <li> %>
      <%# <strong><%= task.task_name %>
      <%# <p><%= task.description %>
      <%# <p>Frequency : <%= task.frequency_type %>
    <%# </li> %>
  <%# <% end %>
<%# </ul> %>

  <%# <% if task.frequency_type == 'daily' %>
    <%# <% elsif task.frequency_type == 'weekly' %>
    <%# <% elsif task.frequency_type == 'monthly' %>
    <%# <% else %>
  <%# <% end %>
