<h1>Users awaiting approval</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= link_to "Approuved", approve_admin_user_path(user), method: :patch %></td>
    </tr>
    <% end %>
  </tbody>
</table>
