
<div class="blue-ellipse-scheduled">
  <svg xmlns="http://www.w3.org/2000/svg" width="274" height="248" viewBox="0 0 174 148" fill="none">
  <g style="mix-blend-mode:multiply">
    <path d="M170 23C190 48 131.253 147.5 61.2531 147.5C2.71093 147.5 -44.7469 102.505 -44.7469 47C-44.7469 -8.50462 2.71093 -53.5 61.2531 -53.5C119.795 -53.5 148 -34.134 170 23Z" fill="#8AB7DD" fill-opacity="0.3"/>
  </g>
  </svg>
</div>
<div class="green-ellipse-scheduled">
  <svg xmlns="http://www.w3.org/2000/svg" width="352" height="225" viewBox="0 0 252 125" fill="none">
    <g style="mix-blend-mode:darken">
      <path d="M202 38C141 90 100 125 65.1713 125C11.5997 125 -31.8287 82.0193 -31.8287 29C-31.8287 -24.0193 11.5997 -67 65.1713 -67C118.743 -67 352 -47 202 38Z" fill="#A2CDB0" fill-opacity="0.3"/>
    </g>
  </svg>
</div>

<div class="scheduled-tasks-wrapper">
  <%# HEADER %>
  <div class="top-screen-elements">
    <div class="banner-container">
        <div class="hello">
          <p> Hello <%= current_user.first_name %>,</p>
        </div>
        <%= cl_image_tag current_user.photo.key, height: 80, width: 80, crop: :fill, class:" rounded-circle current-user-picture"  %>
    </div>
    <p class="welcome text-center"> Welcome at Tropicooloc !</p>
    <div class="roommates">
      <% @users.each do |user| %>
        <% if user.id != current_user.id %>
          <%= cl_image_tag user.photo.key, height: 40, width: 40, crop: :fill, class:" rounded-circle" %>
        <% end %>
      <%end%>
    </div>
</div>

  <%# scheduled-tasks %>
  <div class="text-center scheduled-tasks-card">
    <h1 class="scheduled-tasks-title"> TO DO Today </h1>
    <div class="scrolled-cards">
      <% @scheduled_tasks.each do |scheduled_task| %>
        <%= render "scheduled_task", scheduled_task: scheduled_task %>
      <% end %>
    </div>
  </div>
</div>
