<div class="picture-points">
  <div>
    <%= cl_image_tag user.photo.key, height: 100, width: 100, crop: :fill, class:" rounded-5" %>
    <div class="stats-points">
      <%= user.total_points %> <i class="fa-solid fa-star" style="color: #ffcc69;"></i>
    </div>
  </div>
</div>
