<div class="home-container">
<div class="ellipse-violet">
  <svg xmlns="http://www.w3.org/2000/svg" width="268" height="215" viewBox="0 0 168 115" fill="none">
    <path d="M124.964 107.995C70.5707 119.044 -14.4387 119.985 2.48122 72.6703C45.1259 36.4565 92.4867 3.36649 109.774 -52.1866C164.791 -82.7501 180.21 -6.8425 191.864 50.5281C203.517 107.899 179.358 96.9464 124.964 107.995Z" fill="#8D5BA5" fill-opacity="0.6"/>
  </svg>
</div>

<div class="ellipse-blue">
  <svg xmlns="http://www.w3.org/2000/svg" width="224" height="301" viewBox="0 0 124 201" fill="none">
    <ellipse cx="18" cy="100.5" rx="106" ry="100.5" fill="#8AB7DD" fill-opacity="0.6"/>
  </svg>
</div>

<div class="ellipse-yellow">
  <svg xmlns="http://www.w3.org/2000/svg" width="264" height="142" viewBox="0 0 244 132" fill="none">
    <path d="M260 73C252 122 218.542 190 160 190C101.458 190 -48 134 16 89.5C56 50 96.2957 -16.5341 165 5.00004C232 26 225 32.5 260 73Z" fill="#FFCC69" fill-opacity="0.6"/>
  </svg>
</div>


  <div class="home-header container">
    <div class="home-logo">
      <%= image_tag "logoCM.svg", alt:"logo CozyMate"%>
    </div>
    <div class="home-title">
      <h1>CozyMate</h1>
    </div>
  </div>
  <div class="home-content">
      <%= link_to scheduled_tasks_path, class: "btn btn-success", style: "text-decoration: none" do %>
        <span class="typography"><%= "Welcome" %></span>
      <% end %>
    <div class="home-title2">
      <h2>Organize, Share, Win.</h2>
      <h2>Turn Daily Life into a Game!</h2>
    </div>
  </div>
</div>
