<h1>Roommates' Ranking</h1>

<div class="ranking">
  <ol>
    <% @users.each do |user| %>
      <li>
        <%= "#{user.first_name}" %> : <%= user.total_points %> <i class="fa-regular fa-star" style="color: #000000;"></i>
      </li>
    <% end %>
  </ol>
</div>
