<h1>Ranking</h1>

<div class="ranking-first">
  <div class="ranking">
    <%= render "ranking_card", user: @users.first %>
    <div class="trophy">
      <i class="fa-solid fa-trophy" style="color: #ffcc69;"></i>
    </div>
  </div>
</div>

<div class="ranking-second">
  <div class="ranking">
    <%= render "ranking_card", user: @users.second%>
  </div>

  <div class="ranking">
    <%= render "ranking_card", user: @users.last %>
  </div>
</div>
