.container-form {
  padding-inline: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  -webkit-text-stroke: 1.5px black;
  color: #8D5BA5;
  font-family:  'Roboto Condensed', 'sans-serif';
  font-size: 36px;
  }

  .form-control::placeholder {
    color: rgba(136, 136, 136, 0.2)
  }

.custom-input {
  display: flex;
  text-align: center;
  height: 33px;
  border-radius: 10px;
  background: rgba(255, 209, 204, 0.20)
}

.custom-input_description {
  height: 86px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  border-radius: 10px;
  background: rgba(255, 209, 204, 0.20)
}

.button-validates,
.button-cancel {
  min-width: 130px;
  height: 27px;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: normal;
  justify-content: center;
  padding-block: 4px;
  background: rgba(141, 91, 165, 1);
  color: white;
  border-radius: 10px;
}
.button-cancel {
  background: rgba(141, 91, 165, .5);
}

.tag-item {
  .task_frequency_type {
    display: flex;
    justify-content: space-between;

  }

  .form-check {
    padding-left: 0%;
  }
  legend {
    display: none;
  }

  .form-check-label {
    color: #888 !important;
  }


}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: rgba(255, 209, 204, 0.20);
  color: rgba(255, 209, 204, 0.20);
  border: 1px solid rgba(255, 209, 204, 0.50);
  margin-bottom: 0.4rem;
  min-width: 75px;
  height: 22px;
  text-align: center;
}

.tag-selector:checked + label {
  background-color: rgba(255, 209, 204, 1);
  color: white;
}
input, select, textarea{
  color: #ffF;
}
