.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  text-align: center;

}

.custom-input {
  display: flex;
  width: 199px;
  height: 33px;
  border-radius: 10px;
  background: rgba(255, 209, 204, 0.20)
}

.custom-input_descrption {
  width: 199px;
  height: 86px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 209, 204, 0.20)
}

.button-validates {
  width: 112px;
  height: 27px;
  background: #8D5BA5
}
