.flexbox.search-bar {
  display: flex;
  align-items: center;
  background-color: $beige;
  border: 1px solid $olive;
  border-radius: 20px;
  padding: 8px 12px;
  margin: 0 20%;
}

.flexbox.search-bar form {
  display: flex;
  align-items: center;
  flex: auto;
}

.flexbox.search-bar input[type="text"] {
  flex: 1;
  padding: 6px;
  font-size: 14px;
  border: none;
  outline: transparent;
  background-color: transparent;
  color: #545454;
}

.flexbox.search-bar input[type="text"]:focus {
  outline: transparent;
}

.flexbox.search-bar button[type="submit"] {
  flex: none;
  padding: 6px 10px;
  font-size: 14px;
  color: $green;
  background-color: $beige;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flexbox.search-bar .fa-search {
  font-size: 14px;
  color: $green;
}
